<mat-toolbar color="primary">
  <span>
    <a routerLink="/"> {{ title }} </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a
      mat-button
      routerLink="/"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{exact: true}">Search</a>
    </li>
    <li>
      <a
      mat-button
      *ngIf="!isLoggedIn"
      routerLink="/login"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{exact: true}">Login</a>
    </li>
    <li>
      <a
      mat-button
      *ngIf="!isLoggedIn"
      routerLink="/register"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{exact: true}">Register</a>
    </li>
    <li>
      <a
      mat-button
      (click)="onWatchlist()"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{exact: true}"
      *ngIf="isLoggedIn">Watchlist</a>
    </li>
    <li>
      <a
      mat-button
      *ngIf="isLoggedIn"
      (click)="onLogout()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
