<div class="movie-list" *ngIf="searchStatus">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 movie-tile" *ngFor="let movie of searchResult; let i = index">
        <figure class="figure">
          <img src="{{ movie.Poster }}" alt="{{ movie.Title }}" class="figure-img img-fluid rounded movie-poster">
          <figcaption class="figure-caption">{{ movie.Title }}</figcaption>
        </figure>
        <br>
        <button mat-raised-button color="warn"> More Info </button>
        <button mat-raised-button color="accent"> Add to Watchlist </button>
      </div>
    </div>
    <mat-paginator
      [length]="searchSize"
      [pageSize]="searchResult.length"
      (page)="onChangedPage($event)">
    </mat-paginator>
  </div>
</div>
